
* {
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
}
body{
    margin:0;
}
.container{
    display:grid;
    width:100%;
    height:90vh;
    grid-template-rows: 10vh 10vh 5vw 20vw 5vw 20vh auto 20vh 1vh 20vh 40vw 20vh auto;
    grid-template-columns: 1fr .25fr .75fr 1fr .75fr .25fr 1fr;
    margin-bottom:1vh;
}
#bgvid {
    height: 100%;
    width: 100%;
   position:fixed;

    object-fit: cover;
    z-index: -1;
    background-color:green;
}
.brkt{
    background-color:white;
}
.header{
    grid-column:1 /span 7;
    grid-row:1 /span 1;
    background-color:white;
    position:fixed;
    width:100%;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    height:10vh;
    z-index:10000;
}
    .header > ul {
        color: black;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:1vh;
        justify-content:space-between
    }
    .header>ul>li{
        list-style:none;
        margin-left:0;
    }
    #logo{
        height:7vh;
        margin-top:1vh;
        margin-left:0;
    }
.lnk {
    text-decoration: none;
    /*padding: 3vh 3vw 100% 3vw;*/

    color:black;
}

.maincontent{
    grid-column:3 /span 3;
    grid-row:4/span 1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:1vw;
}
#toptext{
    color:white;
    font-size:8vw;
    margin-bottom:0;
}
#bottomtext{
    color:white;
    font-size:2vw;
    margin-top:0;
}
/*BRACKET DESIGN START*/
.sqbrkttp1{
    grid-column:2 /span 2;
    grid-row: 3 /span 1;
}
.sqbrkttp2{
    grid-column:5 /span 2;
    grid-row:3/span 1;
}
.sqbrktmid1{
    grid-column:2/span 1;
    grid-row:3 /span 3;
}
.sqbrktmid2{
    grid-column:6/span 1;
    grid-row:3/span 3;

}
.sqbrktbot1{
    grid-row:5 /span 1;
    grid-column:2/span 2;
}
.sqbrktbot2{
    grid-row:5 /span 1;
    grid-column:5 /span 2;
}

.spacer{
    grid-row: 6/span1;
    grid-column:1 /span7;
}

/*<----------------------INFO SECTION------------------->*/
#infocontainer {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px 2px black;
    background-color:none;
}

#maininfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    background-color: white;
}
#skillinfo{
    height:100%;
    width:100%;
    display:none;
    background-color:white;
    justify-content:space-between;
    align-content:center;
    align-items:center;
}
.skillcard {
    height: 40vw;
    width: 21vw;
    box-shadow: 2px 2px 2px 2px black;
    margin:2vw;
    font-size:2vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

    .skillcard > ul {
        margin-top:0;
        list-style: none;
        display:flex;
        align-items:flex-start;
        flex-direction:column;
        justify-content:space-between;
        margin-left:-2vw;
    }
    .skillcard >ul > li{
        margin:.2vw;
    }
.FrontEnd {
    background-image: url('../images/designicon.png');
    background-repeat: no-repeat;
    background-color: lightgreen;
    background-size:15vw;
    background-position:bottom;
}
.BackEnd {
    background-image: url('../images/backicon.png');
    background-repeat: no-repeat;
    background-color: lightcoral;
    background-size: 15vw;
    background-position: bottom;
    color:white;
}
.TeamEnd {
    background-image: url('../images/teamicon.png');
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: 15vw;
    background-position: bottom;

}
#infonavbar{
    background-color:none;
    display:flex;   
    width:100%;
}
    #infonavbar > a {
        font-size: 2vw;
        margin-left: 2vw;
        background-color: white;
        padding-left: 4vw;
        padding-right: 4vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
    }
#active {
    box-shadow: 2px 0px 0px 0px black;
}
#active,#nonactive {
    cursor:pointer;
}
#nonactive {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
#activeinner{
    /*/*box-shadow: 0px 0px 0px 2px black;*/*/
    /*width:100%;
    height:100%*/;
}
.info {
    background-color: none;
    grid-row: 7 /span 1;
    grid-column: 1 /span 7;
}
    #picresume  > img {
        height: 20vw;
        border-radius: 100%;
        margin-left: 2vw;
        margin-right: 2vw;
        box-shadow:3px 3px 5px black;
    }
    #maininfo > p {
        font-size: 2vw;
        margin-right: 2vw;
    }
    #picresume{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:4vw;
        margin-bottom:2vw;
           
    }
        #picresume >a{
            margin-top:1vw;
            font-size:2vw;
            background-color:whitesmoke;
        }
        .spacer2 {
            grid-row: 8 /span 1;
            grid-column: 1 /span 7;
        }

.spacer3 {
    grid-row: 10 /span 1;
    grid-column: 1 /span 7;
  
}
/*<-----------------Projects section------------------------->*/
.projects {
    grid-row: 11 /span 1;
    grid-column: 1 /span 7;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px black;
}

.pj {
    height: 15vw;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1vw;
    box-shadow: 3px 3px 5px black;
    overflow: auto;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
}

    .pj:hover {
        cursor: pointer;
    }

.pjVidText {
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    z-index: 2;
    font-size: 2vw;
    padding: 1vw;
    padding-top: 0;
    padding-left: 0;
    background-color: rgba(76, 76, 76, 0.9);
    margin: 0;
    color: white;
    font-weight: bolder;
}

.pjVid {
    height: 100%;
    width: 100%;
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
}

.spacer4 {
    grid-row: 12 /span 1;
    grid-column: 1 /span 7;
}
.stkmkt {
    background-image: url("../images/stockmarketpic.png");
}

.vpsh {
    background-image: url("../images/petshelter.png");
}

.villa {
    background-image: url("../images/tuskanyvilla.png");
}

.this {
    background-image: url("../images/sitepic.png");
}

.citymvc {
    background-image: url("../images/mvccity1.png");
}
.rta {
    background-image: url('../images/rtafeedback.png');
}
.wardrobe {
    background-image: url('../images/wardrobe.png');
}

/*<-----------------------------------------------Contact info-------------------->*/
.contact {
    grid-row: 13 /span 1;
    grid-column: 1 /span 7;
    background-color:white;
    height:auto;
}
    .contact > ul {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style-type: none;
        color: black;
        justify-content:center;
        align-items:center;
        align-content:center;

    }
    .contact >ul > li > a > img{
        height:40px;
    }
    .contact >ul > li > img{
        height:40px; 
    }
a{
    color:inherit;
    margin:inherit;
}



 
/*<------------------info popup--------------->*/
.infowin {
    height: 100%;
    z-index: 100;
    object-fit: cover;
    background-color: rgba(175, 151, 151, 0.47);
    width: 100%;
    position: fixed;
    display:none;
    justify-content:center;
    align-items:center;
}
.innerinfo{
    height:100%;
    width:100%;
    display:none;
}
.center {
    background-color: white;
    height: auto;
    width: 70%;
    position: fixed;
    animation-name: animatetop;
    animation-duration: 1s
}
@keyframes animatetop {
    from {
        transform:translateY(-100%);
        opacity: 0;
    }
    to {
transform:translateY(0%);
opacity: 1;
    }

}
