
* {
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
}
body{
    margin:0;

}
.container{
    display:grid;
    width:100%;
    height:90vh;
    grid-template-rows: 5vh 10vh 5vw 20vw 5vw 20vh 30vw 20vh 20vw 10vw 40vw 30vw 30vw;
    grid-template-columns: 1fr .25fr .75fr 1fr .75fr .25fr 1fr;
    margin-bottom:1vh;
}
#bgvid {

    min-height: 100%;
    min-width: 100%;
   position:fixed;
    object-fit: cover;
    z-index: -1;
    background-color:green;
}
.brkt{
    background-color:white;
}
.header{
    grid-column:1 /span 7;
    grid-row:1 /span 1;
    background-color:white;
    position:fixed;
    width:100%;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    height:10vh;
}
    .header > ul {
        color: black;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:1vh;
        justify-content:space-between
    }
    .header>ul>li{
        list-style:none;
        margin-left:0;
    }
    #logo{
        height:7vh;
        margin-top:1vh;
        margin-left:0;
    }
.lnk {
    text-decoration: none;
    /*padding: 3vh 3vw 100% 3vw;*/

    color:black;
}

.maincontent{
    grid-column:3 /span 3;
    grid-row:4/span 1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:1vw;
}
#toptext{
    color:white;
    font-size:8vw;
    margin-bottom:0;
}
#bottomtext{
    color:white;
    font-size:2vw;
    margin-top:0;
}
/*BRACKET DESIGN START*/
.sqbrkttp1{
    grid-column:2 /span 2;
    grid-row: 3 /span 1;
}
.sqbrkttp2{
    grid-column:5 /span 2;
    grid-row:3/span 1;
}
.sqbrktmid1{
    grid-column:2/span 1;
    grid-row:3 /span 3;
}
.sqbrktmid2{
    grid-column:6/span 1;
    grid-row:3/span 3;

}
.sqbrktbot1{
    grid-row:5 /span 1;
    grid-column:2/span 2;
}
.sqbrktbot2{
    grid-row:5 /span 1;
    grid-column:5 /span 2;
}

.spacer{
    grid-row: 6/span1;
    grid-column:1 /span7;
}


.info{
    background-color:white;
    grid-row:7 /span 1;
    grid-column: 1 /span 7;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;

}
    .info > img {
        height: 20vw;
        border-radius: 100%;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .info > p {
        font-size: 2vw;
        margin-right: 2vw;
    }
.spacer2 {
    grid-row: 8 /span 1;
    grid-column: 1 /span 7;
}
.skills{
    grid-row: 9/span 1;
    grid-column:1 /span7;
   background-color:white;

}
.spacer3 {
    grid-row: 10 /span 1;
    grid-column: 1 /span 7;
  
}
.projects {
    grid-row: 11 /span 1;
    grid-column: 1 /span 7;
    background-color: white;
    display:flex;
    flex-wrap:wrap;
}
.pj {
    height: 15vw;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1vw;
    border: .3vw outset ;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
    .pj:hover {
        border:.3vw;
    }
.pj:hover >p{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    }
    .pj > p {

        font-size: 2vw;
        padding: 1vw;
        padding-top: 0;
        padding-left: 0;
        background-color: rgba(147, 147, 209, 0.5);
        margin: 0;
        color: black;
        font-weight: bolder;
    }
.stkmkt{
    background-image:url("../images/stockmarketpic.png");
}
.vpsh{
    background-image:url("../images/petshelter.png");

}
.villa{
    background-image:url("../images/tuskanyvilla.png");
}
.this{
    background-image:url("../images/sitepic.png");
}




.spacer4 {
    grid-row: 12 /span 1;
    grid-column: 1 /span 7;
}
.contact {
    grid-row: 13 /span 1;
    grid-column: 1 /span 7;
    background-color:white;

}
    .contact > ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-decoration: none;
        color:black;
    }
a{
    color:inherit;
    margin:inherit;
}



 

.infowin {
    height: 100%;
    z-index: +1;
    object-fit: cover;
    background-color: rgba(175, 151, 151, 0.47);
    width: 100%;
    position: fixed;
    display:none;
    justify-content:center;
    align-items:center;
}

.center {
    background-color: white;
    height: 80%;
    width: 70%;
    position: fixed;
}
.innerinfo > img {
    height: 15vw;
    border: solid 1vw gray;
    margin-left: 2vw;
    flex-basis: 30%;
}
.innerinfo >img:hover{
    height:30vw;
    z-index:+2;
    position:fixed;
}
.innerinfo{
    font-size:1.7rem;
    margin:1.5vw;
    display:none;
}
.WIP {
    position: fixed;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgba(96, 96, 96, 0.3);
    z-index:+1;
    font-family:Arial;
}
